@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap");

body, html {
    width: 100%;
    overflow-x: hidden;
}
/* Contenedor principal */
.home-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden; /* Evita el scroll horizontal y vertical */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

/* 🎥 Video de fondo */
.background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Asegura que el video cubra toda la pantalla */
    overflow: hidden;
}

/* 🌟 Contenido sobre el video */
.overlay {
    position: relative;
    z-index: 1; /* Mantiene el contenido encima del video */
    color: #fff;
    max-width: 90%;
    margin: 0 auto;
}
/* 🖼️ Logo */
.logo {
    width: 100%;
    max-width: 250px;
    margin-bottom: 50px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.295), rgba(255, 255, 255, 0));
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    padding: 10px;
    border-radius: 10px;
}

/* 📝 Texto */
h1 {
    font-size: 3.5rem;
    margin: 0;
}

p {
    font-size: 2.2rem;
    margin: 0.7rem;
}

/* 📌 Botón de WhatsApp */
.whatsapp-button {
    background-color: #3caa35;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 2rem;
    cursor: pointer;
    transition: all 0.3s ease;
    font-family: "Amatic SC", cursive;
    position: relative;
    overflow: hidden;
}

.whatsapp-button:hover {
    background-color: #f39424;
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* 📲 Responsividad */
@media (max-width: 768px) {
    h1 {
        font-size: 2.5rem;
    }

    p {
        font-size: 1rem;
    }

    .logo {
        max-width: 200px;
        padding: 8px;
    }

    .whatsapp-button {
        font-size: 0.9rem;
        padding: 8px 16px;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 3rem;
    }

    p {
        font-size: 1.7rem;
    }

    .logo {
        max-width: 250px;
        padding: 6px;
    }

    .whatsapp-button {
        font-size: 1.7rem;
        padding: 6px 12px;
    }
}
